@font-face {
    font-family: 'Metropolis Semi Bold';
    src: url('Metropolis-SemiBold.otf');
    src: local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
    url('../fonts/Metropolis-SemiBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis Medium';
    src: url('Metropolis-Medium.otf');
    src: local('Metropolis Medium'), local('Metropolis-Medium'),
    url('../fonts/Metropolis-Medium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.otf');
    src: local('Metropolis'), local('Metropolis-Regular'),
    url('../fonts/Metropolis-Regular.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis Light';
    src: url('Metropolis-Light.otf');
    src: local('Metropolis Light'), local('Metropolis-Light'),
    url('../fonts/Metropolis-Light.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
    outline: none;
    list-style: none;
    text-decoration: none;
}

@media (min-width: 1200px){
    .nav_container {
        max-width: 1300px !important;
    }
    .container{
        max-width: 1250px;
    }
}
.bg{
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 700px;
    color: #fff;
}
.bg button{
    background-color: #fff !important;
    padding: 6px 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-right: 20px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 1px solid #f6ae67;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 1px solid #f6ae67;
}
.container1{
    margin: 90px auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bg .row{
    padding: 30px 0px;
}
.blocks1{
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 44%;
    border: 1px solid #00000029;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    -moz-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
}
.blocks1_main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
section{
    margin: 60px auto;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 15px;
}
hr{
    background: #ffb267d9;
    background-image: linear-gradient(to right,#ffb26700,white);
    height: 1.2px;
    width: 20%;
    margin: 16px 0px;
}
.bg2{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 25px 0px;
}
.blocks2 img{
    width: 100%;
    max-width: 100px;
}
.blocks2{
    margin: 30px 0px;
}
.section3 p{
    text-align: center;
}
.section3 h3{
    text-align: center;
}
.section3 hr{
    margin: 0 auto;
}
.section3,.section4 p{
    width: 65%;
    margin: 0 auto;
}

.sectionimg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionimg img{
    width: 100%;
    max-width: 450px;
}
.sectionimg1 img{
    width: 100%;
    max-width: 450px;
}
.sectionimg1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.owl-dots button{
    margin: 5px;
    border: 1px solid #ffb165 !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.owl-dots button:hover{
    background: #ffb165;
}
button:focus{
    outline: none !important;
}
.owl-dots{
    text-align: center;
}


.section4{
    text-align: center;
}
.img_row{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-height: 143px;
}
#owl2 .owl-nav{
    position: absolute;
    width: 100%;
    top: 3px;
}
#owl2 .owl-prev{
    left: 115px;
    position: absolute;
}
#owl2 .owl-next{
    right: 115px;
    position: absolute;
}
#owl2 span{
    font-size: 46px;
}
.testi_img{
    width: 100%;
    max-width: 75px;
}
.testi_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.active_testi{
    max-width: 115px;
}
.testi_div img:nth-child(2){
    max-width: 120px;
}
.owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-item img{
    margin: 0 auto;
    width: 80%;
}
.owl-item.active.center img{
    width: 100% !important;
    object-fit: contain;
}
#owl2{
    background-image: url(../img/icon-testimonial.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

/*footer*/
footer{
    background-image: url(../img/footer_bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 400px;
    padding: 50px 0px 0px 0px;
    display: flex;
}

footer ul{
    padding: 0;
}
footer li{
    margin-bottom: 10px;
}
.footer_title{
    border-bottom: 1px solid #ffffff91;
    padding-bottom: 20px;
}
.social img{

    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    max-width: 20px;
}
footer .container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer_main{
    margin-bottom: 30px;
}



@media(max-width: 776px){
    #owl2 .owl-prev {
        left: 50px;
        position: absolute;
    }
    #owl2 .owl-next {
        right: 50px;
        position: absolute;
    }
    #owl2 .owl-nav {
        position: absolute;
        width: 100%;
        top: 37px;
    }
    #owl2{
        margin: 0 auto;
    }
    #owl2 {
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
}
@media(max-width: 776px){
    #owl2 .owl-nav {
        top: 104px;
    }
    #owl2 .owl-prev {
        left: 30px;
        position: absolute;
    }
    #owl2 .owl-next {
        right: 30px;
        position: absolute;
    }
}
/*Resume css*/
.resume_bg{
    background-image: url(../img/Resume_header.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100px;
    color: #fff;
}
.Resume_section1 button{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin-top: 10px;
}
.categ_btn{
    background: #f3f2f1;
    color: #000;
    width: 33.4%;
    padding: 13px;
    cursor: pointer;
}
.categ_btn:hover{
    background: #18358a;
    color: #fff;
}
.Resume_section2{
    text-align: center;
    height: 100%;
    background: #f3f2f1;
    padding-top: 15px;

}
.Resume_section2 hr{
    margin: 21px auto;
}
.resume_categories{
    border: 1.5px solid;
    border-color: #34a1b8;
    height: 100%;
    display: flex;
    width: 100%;
    max-width: 517px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 13px;
    min-height: 54px;
}
.categ_btn_last{
    border-radius: 0px 12px 12px 0px;
}
.categ_btn_first{
    border-radius: 12px 0px 0px 12px;
}
#owl3 .owl-nav{
    position: absolute;
    width: 98%;
    top: 35%;
    margin: 0 auto;
    transform: translateY(-50%);
}
#owl3 .owl-prev{
    left: 8px;
    position: absolute;
}
#owl3 .owl-next{
    right: 8px;
    position: absolute;
}
#owl3 span{
    font-size: 46px;
}
#owl3 .owl-item img {
    margin: 0 auto;
    width: 80%;
    max-height: 451px;
    object-fit: contain;
}
.Resume_section2 button{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin: 28px auto;
}


@media(max-width: 575px){
    #owl3 .owl-nav{
        width: 96%;
    }
}
@media(max-width: 600px){
    #owl3 .owl-item img{
        max-width: 50%;

    }
}
@media(max-width: 400px){
    #owl3 .owl-nav{
        top: 30%;
    }
}
.Resume_section3 .text{
    text-align: center;
    margin: 0 auto;
}
.Resume_section3 .text hr{
    margin: 15px auto;
}
.Resume_section3  .text img{
    width: 100%;
    max-width: 70px;
    margin: 10px auto;
    max-height: 70px;
    object-fit: contain;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_p{
    display: flex;
    justify-content: center;
}
.list_p i{
    padding-top: 6px;
    color: #ffb162;
    padding-right: 8px;
}


/*Contact us*/
.contact_section .container{
    -webkit-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    -moz-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    border-radius: 20px 0px 0px 20px;

}
.contact_img{
    background-image: url(../img/Contact_img.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px 0px 0px 20px;
}
.contact_img li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
}
.bordered_contact{
    width: 80%;
    border: 4px solid rgba(119, 136, 151, 0.7);
    color: #fff;
    border-radius: 24px;
}
.bordered_contact ul{
    padding: 0;
}
.bordered_contact span{
    font-size: 18px;
    font-weight: 500;

}
.bordered_contact p{
    margin: 0;
}
.contact_inputs button{
    margin-top: 12px;
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 100px;
}
.contact_inputs .text{
    padding: 15px 40px;
}
.contact_inputs input{
    margin: 8px 0px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #8080809c;
    padding: 10px;
    color: gray;
}
.contact_inputs form{
    display: flex;
    flex-direction: column;
}

.Choose_row{
    width: 100%;
}


/*info form*/

body {
    background-color: #f3f2f2;
}
.info_panel {
    padding: 40px;
    display: flex;
    width: 84%;
    box-shadow: 0px 5px 22.1px 1.9px rgba(2, 3, 2, 0.07);
    margin: 0 auto;
    background-color: #ffffff;
}
.personal_info {
    width: 70%;
}
.template {
    width: 30%;
}
.inputs input {
    width: 48%;
}
.sity input {
    width: 48%;
}
.sity {
    width: 82%;
    display: flex;
    justify-content: space-between;
}
.personal_info input {
    border: solid 1px #283887;
    background-color: #f7f7f7;
    height: 51px;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #303030;
    padding-left: 20px;
    margin-bottom: 40px;
}
.inputs {
    width: 82%;
    display: flex;
    justify-content: space-between;
}
.address input {
    width: 82%;
}
.template_text {
    width: 99%;
    height: 97%;
    box-shadow: 0px 5px 22.1px 1.9px rgba(2, 3, 2, 0.07);
}

.template_text img {
    width: 100%;
    height: 100%;
}
.buttons {
    width: 82%;
    display: flex;
    justify-content: space-between;
}
.buttons span {
    font-size: 18px;
}
.back {
    width: 172px;
    height: 59px;
    border-radius: 10px;
    border: solid 1px #283887;
    background-color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1.9px;
    text-align: center;
    color: #283887;
}
.next {
    width: 172px;
    height: 59px;
    border-radius: 10px;
    background-color: #283887;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    border: none;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-blue{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin-top: 10px;
    color: #fff;
}
.btn-blue a{
    color: #fff;
    text-decoration: none;
}
.btn-blue a:hover{
    color: #fff;
    text-decoration: none;
}
.das_inp button{
    border-radius: 0 8px 8px 0;
    margin: 0;
}
.das_inp{
    display: flex;
    justify-content: center;
}
.das_inp input[type="text"] {
    width: 65%;
    padding: 10px 5px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid gainsboro;
}
.das_check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.check label{
    margin: 0;
    margin-left: 20px;

}
.check{
    margin-bottom: 20px;
}
.jstfy{
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* The container */
.containera {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containera input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containera:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containera input:checked ~ .checkmark {
    top: 9px;
    background-color: #18358a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containera input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containera .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





@media (max-width: 1000px) {
    .info_panel {
        width: 97%;
    }
    .template {
        width: 40%;
    }
}
@media (max-width: 800px) {
    .info_panel {
        flex-direction: column;
    }

    .inputs {
        margin: 0 auto 20px;
        width: 95%;
    }

    .sity {
        margin: 0 auto;
        width: 95%;
    }

    .personal_info {
        width: 100%;
    }

    .address input {
        width: 95%;
        margin: 0 auto 40px;
        display: flex;
    }

    .template {
        width: 80%;
        margin: 0 auto;
    }
    .buttons {
        width: 95%;
        margin: 0 auto 20px;
    }
}
@media (max-width: 550px) {
    .inputs {
        flex-direction: column;
        margin-bottom: 0;
    }
    input {
        margin-bottom: 25px;
    }
    .address input {
        margin-bottom: 25px;
    }
    .inputs input {
        width: 99%;
        margin-bottom: 25px;
    }
    .sity {
        flex-direction: column;
    }
    .sity input {
        width: 99%;
    }
    .next {
        width: 41%;
        height: 49px;
    }
    .back {
        width: 41%;
        height: 49px;
    }
    .template {
        width: 99%;
    }
}

/*choose template*/



.choose_content hr {
    background: #ffb267d9;
    background-image: linear-gradient(to right,#ffb26700,white);
    height: 1.2px;
    width: 10%;
    margin: 20px auto;
}
.choose_content h1 {
    margin-top: 130px;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.9px;
    color: #000000;
    margin-bottom: 29px;
}
.btn-group, .btn-group-vertical {
    margin-top: 60px;
    margin-bottom: 100px;
}
.btn-btn {
    border-radius: 5.25rem;
    width: 226px;
    height: 62px;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 1.8px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border: solid 2px #a7d2da;
}
.btn-btn1 {
    border-radius: 5.25rem;
    width: 226px;
    height: 62px;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 1.8px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-left: 2px solid #18358a;
    border-right: 2px solid #18358a;
    border-bottom: solid 2px #a7d2da;
    border-top: solid 2px #a7d2da;
}
.template1  {
    margin: 20px;
    height: 100%;
}
.template1 img {
    width: 445px;
    height: 630px;
    box-shadow: 0px 5px 22.1px 1.9px rgba(2, 3, 2, 0.07);
}
.body_image img {
    width: 100%;
    height: 630px;
    object-fit: contain;
}
.mod_dialog {
    max-width: 600px;
    margin: 0 auto;
}
.row {
    justify-content: center;
}
.pagination {
    justify-content: center;
}
.pagination>li {
    margin: 9px;
    width: 31px;
    height: 31px;

}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #ffb165;
    color: #ffffff;
}


.pagination>li a {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.6px;
    text-align: justify;
    color: #000000;
    border: solid 1px #ecaf69;
}
.search_area {
    width: 35%;
}
.input_search {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 1.3px;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}
@media (max-width: 700px) {
    .btn-btn {
        width: 150px;
        height: 52px;
    }
    .btn-btn1 {
        width: 150px;
        height: 52px;
    }
    .mod_dialog {
        max-width: 90%;
    }
}
@media (max-width: 445px) {
    .btn-btn {
        width: 108px;
        font-size: 17px;
    }
    .btn-btn1 {
        width: 108px;
        font-size: 17px;
    }
    .choose_content h1 {
        font-size: 31px;
    }
}
