@font-face {
    font-family: 'Metropolis Semi Bold';
    src: url('Metropolis-SemiBold.otf');
    src: local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
    url('../assets/fonts/Metropolis-SemiBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis Medium';
    src: url('Metropolis-Medium.otf');
    src: local('Metropolis Medium'), local('Metropolis-Medium'),
    url('../assets/fonts/Metropolis-Medium.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.otf');
    src: local('Metropolis'), local('Metropolis-Regular'),
    url('../assets/fonts/Metropolis-Regular.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis Light';
    src: url('Metropolis-Light.otf');
    src: local('Metropolis Light'), local('Metropolis-Light'),
    url('../assets/fonts/Metropolis-Light.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
	outline: none;
	list-style: none;
	text-decoration: none;
}

.hand {
    cursor: pointer;
}

@media (min-width: 1200px){
    .nav_container {
        max-width: 1300px !important;
    }
    .container{
        max-width: 1250px;
    }
}
.bg{
    background-image: url(../assets/images/bg1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 700px;
    color: #fff;
}
.bg button{
    background-color: #fff !important;
    padding: 6px 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-right: 20px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 1px solid #f6ae67;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 1px solid #f6ae67;
}
.container1{
    margin: 90px auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bg .row{
    padding: 30px 0px;
}
/*Jobs css*/
.jobs_header .text{
    text-align: center;

}
.jobs_header hr{
    margin: 20px auto;
}
.jobs_header button{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin: 28px auto;
}
.jobs_filter{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.jobs_filter input{
    margin: 8px 0px;
    outline: none;
    border: 0;
    border: 1px solid #18358a;
    padding: 10px;
    color: gray;

}
.jobs_header{
    -webkit-box-shadow: 0px 25px 27px -20px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 25px 27px -20px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 25px 27px -20px rgba(0, 0, 0, 0.37);
}
.jobs_list h2{
    text-align: center;
}
.jobs_list hr{
    margin: 20px auto;
}
.shadow{
    -webkit-box-shadow: 0px -1px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 16px -1px rgba(0,0,0,0.75);
    padding: 20px;
}
.list_row{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.companys{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0px;
    border-bottom: 1px solid #77777780;

}
.companys p{
    margin-bottom: 0;
    color: #777777;
}
.companys img{
    width: 100%;
    object-fit: contain;
    max-width: 115px;
}
.companys button{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 113px;
}
#accordion ul{
    padding: 0;
}
#accordion li{
    list-style: none;
    flex-direction: row;
    align-items: center;
}
#accordion a{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    list-style: none;
}
#accordion a:hover{
    text-decoration: none;
}
#accordion label{
    margin-bottom: 0;
    margin-left: 10px;
}
.card-header button{
    background: #18358a;
    color: #fff;
}
.card-header{
    background: #18358a;

}
.btn.focus, .btn:focus{
    outline: none;
    box-shadow: none;
}
.pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}
.blue_button {
    background-color: #fff;
    border: 0;
    padding: 4px 10px;
    margin: 5px;
    font-size: 20px;
}
.blue_button:hover {
    color: #315591;
}
.blocks1{
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 44%;
    border: 1px solid #00000029;
    padding: 10px;
-webkit-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
-moz-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
}
.blocks1_main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
section{
    width: 100%;
    margin: 60px 0;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
        padding-top: 15px;
}
hr{
    background: #ffb267d9;
    background-image: linear-gradient(to right,#ffb26700,white);
    height: 1.2px;
    width: 20%;
    margin: 16px 0;
}
.bg2{
    width: 100%;
    background-image: url(../assets/images/bg2.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 25px 0px;
}
.blocks2 img{
    width: 100%;
    max-width: 100px;
}
.blocks2{
    margin: 30px 0px;
}
.section3 p{
    text-align: center;
}
.section3 h3{
    text-align: center;
}
.section3 hr{
    margin: 0 auto;
}
.section3,.section4 p{
    width: 65%;
    margin: 0 auto;
}

.sectionimg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionimg img{
    object-fit: contain;
    width: 100%;
    max-width: 450px;
}
.sectionimg1 img{
    object-fit: contain;
    width: 100%;
    max-width: 450px;
}
.sectionimg1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.owl-dots button{
    margin: 5px;
    border: 1px solid #ffb165 !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.owl-dots button:hover{
    background: #ffb165;
}
button:focus{
    outline: none !important;
}
.owl-dots{
    text-align: center;
}


.section4{
    text-align: center;
}
.img_row{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-height: 143px;
}
#owl2 .owl-nav{
    position: absolute;
    width: 100%;
    top: 3px;
}
#owl2 .owl-prev{
    left: 115px;
    position: absolute;
}
#owl2 .owl-next{
    right: 115px;
    position: absolute;
}
#owl2 span{
    font-size: 46px;
}
.testi_img{
    width: 100%;
    max-width: 75px;
}
.testi_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.active_testi{
    max-width: 115px;
}
.testi_div img:nth-child(2){
    max-width: 120px;
}
.owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-item img{
    margin: 0 auto;
    width: 80%;
}
.owl-item.active.center img{
     width: 100% !important;
    object-fit: contain;
}
#owl2{
    background-image: url(../assets/images/icon-testimonial.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}


/* resume examples*/

.example2 .right {
    padding: 15px!important;
}

/*footer*/
footer{
    background-image: url(../assets/images/footer_bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 400px;
    padding: 50px 0px 0px 0px;
    display: flex;
}

footer ul{
    padding: 0;
}
footer li{
    margin-bottom: 10px;
}

footer li a {
    color: inherit;
}

.footer_title{
        border-bottom: 1px solid #ffffff91;
    padding-bottom: 20px;
}
.social img{

    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    max-width: 20px;
}
footer .container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer_main{
    margin-bottom: 30px;
}



@media(max-width: 776px){
    #owl2 .owl-prev {
        left: 50px;
        position: absolute;
    }
    #owl2 .owl-next {
        right: 50px;
        position: absolute;
    }
    #owl2 .owl-nav {
        position: absolute;
        width: 100%;
        top: 37px;
    }
    #owl2{
        margin: 0 auto;
    }
    #owl2 {
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
}
@media(max-width: 776px){
    #owl2 .owl-nav {
        top: 104px;
    }
    #owl2 .owl-prev {
        left: 30px;
        position: absolute;
    }
    #owl2 .owl-next {
        right: 30px;
        position: absolute;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px !important;
    }
}
/*Resume css*/
#sortable{
    padding: 0 !important;
}

.experience-list,
.education-list {
    width: 90%;
    margin: 0 auto;
}

.resume_bg{
    background-image: url(../assets/images/Resume_header.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100px;
    color: #fff;
}

.resume_bg .nav_container {
    margin: 0 auto;
}

.Resume_section1 button{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin-top: 10px;
}
.categ_btn{
    background: #f3f2f1;
    color: #000;
    width: 33.4%;
    padding: 13px;
    cursor: pointer;
}
.categ_btn:hover{
    background: #18358a;
    color: #fff;
}
.Resume_section2{
    text-align: center;
    height: 100%;
    background: #f3f2f1;
    padding-top: 15px;
    width: 100%;

}
.Resume_section2 hr{
    margin: 21px auto;
}
.resume_categories{
    border: 1.5px solid;
    border-color: #34a1b8;
    height: 100%;
    display: flex;
    width: 100%;
    max-width: 517px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 13px;
    min-height: 54px;
}
.categ_btn_last{
    border-radius: 0px 12px 12px 0px;
}
.categ_btn_first{
    border-radius: 12px 0px 0px 12px;
}
#owl3 .owl-nav{
    position: absolute;
    width: 98%;
    top: 35%;
    margin: 0 auto;
    transform: translateY(-50%);
}
#owl3 .owl-prev{
    left: 8px;
    position: absolute;
}
#owl3 .owl-next{
    right: 8px;
    position: absolute;
}
#owl3 span{
    font-size: 46px;
}
#owl3 .owl-item img {
    margin: 0 auto;
    width: 80%;
    max-height: 451px;
    object-fit: contain;
}
.Resume_section2 button{
        background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin: 28px auto;
}


@media(max-width: 575px){
    #owl3 .owl-nav{
        width: 96%;
    }
}
@media(max-width: 600px){
    #owl3 .owl-item img{
        max-width: 50%;

    }
}
@media(max-width: 400px){
    #owl3 .owl-nav{
        top: 30%;
    }
}
.Resume_section3 .text{
    text-align: center;
    margin: 0 auto;
}
.Resume_section3 .text hr{
    margin: 15px auto;
}
.Resume_section3  .text img{
    width: 100%;
    max-width: 70px;
    margin: 10px auto;
    max-height: 70px;
    object-fit: contain;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_p{
    display: flex;
    justify-content: flex-start;
}
.list_p i{
    padding-top: 6px;
    color: #ffb162;
    padding-right: 8px;
}


/*Contact us*/
.contact_section .container{
    -webkit-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    -moz-box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    box-shadow: 0px 0px 14px -5px rgba(87,81,87,1);
    border-radius: 20px 0px 0px 20px;

}
.contact_img{
    background-image: url(../assets/images/Contact_img.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px 0px 0px 20px;
}
.contact_img li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
}
.bordered_contact{
    width: 80%;
    border: 4px solid rgba(119, 136, 151, 0.7);
    color: #fff;
    border-radius: 24px;
}
.bordered_contact ul{
    padding: 0;
}
.bordered_contact span{
    font-size: 18px;
    font-weight: 500;

}
.bordered_contact p{
    margin: 0;
}
.contact_inputs button{
    margin-top: 12px;
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 100px;
}
.contact_inputs .text{
    padding: 15px 40px;
}
.contact_inputs input{
    margin: 8px 0px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #8080809c;
    padding: 10px;
    color: gray;
}
.contact_inputs form{
        display: flex;
    flex-direction: column;
}

.main-content {
    position: relative;
    height: 570px!important;
}
.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: -20px;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
}
.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}
.main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
    cursor: pointer;
}
.main-content .owl-theme .custom-nav .owl-next {
    right: 0;
    cursor: pointer;

}
.main-content .center{
    opacity: 1 !important;
}
.main-content .owl-item{
    opacity: 0.5;
}

.owl-nav img{
    background: rgba(0, 0, 0, 0.28);
    padding: 11px 9px;
    border-radius: 50%;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-blue{
    background: #18358a;
    color: #fff;
    width: 100%;
    max-width: 167px;
    margin-top: 10px;
}
.btn-blue a{
    color: #fff;
    text-decoration: none;
}
.btn-blue a:hover{
    color: #fff;
    text-decoration: none;
}

/*cover letter*/
.start_section {
    background: #F3F2F1;
    padding: 30px 0px;
}
.start_res_left img{
    width: 100%;
}
.start_res_left button{
    width: 100%;
    max-width: 100%;
}
.start_res_right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.head_section {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}


.cover_sec_2 .text img {
    width: 100%;
    max-width: 70px;
    margin: 10px auto;
    max-height: 70px;
    object-fit: contain;
    margin-bottom: 20px;
}
.cover_sec_2 .text {
    text-align: center;
    margin: 0 auto;
}

/*login*/
.ride img {
    width: 100%;
    height: 100%;
}

.login_container {
    background: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1518px !IMPORTANT;
    padding: 0;
}

.log_reg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    max-width: 386px;
    margin: 9px auto;
    flex-wrap: wrap;
}

.log_reg p {
    cursor: pointer;
}
.red_tools button{
    background: none;
    border: none;
    cursor: pointer;
}
.log_reg .Login1:after {
    content: '/';
    /* border: 1px solid; */
    color: #000;
    font-weight: 300;
    margin: 0 20px;
}
.log_reg p:hover {
    color: #2D64AC;
    /*text-decoration: underline;*/
}

.login_container form {
    display: flex;
    max-width: 386px;
    flex-direction: column;
    margin: 16px auto;
}

.login_container form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid gainsboro;
}

.login_container .bord_button {
    z-index: 2;
    text-align: center;
}

.login_container .flex_container {
    width: 100%;
    min-height: 544px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}




.login_container .flex_container .sloping_line {
    width: 17%;
    background: white;
    transform: rotateZ(23deg);
    height: 754px;
    position: absolute;
    left: 51%;
    top: -99px;
}

.login_container .flex_container .flex_item.right_side img {
    width: 100%;
    z-index: 99;
}

.login_container .flex_container .flex_item.right_side {
    background: white;
    display: flex;
    align-items: center;
}

.login_container .flex_container .flex_item {
    width: 50%;
    margin: 0 auto;
    height: max-content;

}

button.owl-dot.active {
    background: #ffcd9e;
}

.form_check {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.social_reg {
    max-width: 386px;
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
}

.social_reg p {
    margin: 0;
    padding-left: 10px;
    color: #000;
}

.form_footer {
    text-align: center;
}

.form_footer span {
    color: #2D64AC;
    cursor: pointer;
}
.login{
    cursor: pointer;
    color: #fff;
}
.login .dropdown-toggle::after{
    display: none;
}
.login .dropdown-menu a{
    white-space: pre-wrap;
}
.login .dropdown-menu a:hover{
    color: #2D64AC !important;
    background: #F9F9F9 !important;
}
.login .dropdown-menu a:nth-child(1){
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.login .dropdown-menu a:nth-last-child(1){
    border-top: 1px solid gainsboro;
    margin-top: 10px;
    padding: 10px 20px;
}
.login_container label{
    color: #000;
}
.form_footer p{
    color: #000;
}
/*login end*/

.active-template {
    box-shadow: 0 0 20px;
}

.disabled {
    background: #a1a8bd;
    cursor: progress;
}







@media (max-width: 993px) {
    .main-content .owl-theme .custom-nav {
        position: absolute;
        top: 40%;
        left: -18px;
        right: 0;
        max-width: 428px;
        margin: 0 auto;
    }
}


